Repository villetakanen/asdlc-io: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, astro-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "src/**/*.{js,ts,astro,json,css}"
      run: npx @biomejs/biome check --write {staged_files} && git add {staged_files}
    astro-check:
      glob: "**/*.{astro,ts,tsx,js,jsx}"
      run: pnpm check

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
    verify-ds-freeze:
      run: node scripts/verify-ds-freeze.cjs {1}

feat(content): add /assess skill and SWE-Skills-Bench integration
  .claude/commands/assess.md
  docs/assessments/claude/2026-03-18-swe-skills-bench.md
  src/content/concepts/agent-skills.md
  src/content/concepts/ai-amplification.md
  src/content/patterns/agent-optimization-loop.md
  src/mcp/articles.json
Due: biome-check

feat(content): assess Roadie context engineering article
  docs/assessments/claude/2026-03-18-context-engineering-roadie.md
  src/content/concepts/context-engineering.md
  src/mcp/articles.json
Due: biome-check

feat(content): assess Fowler article, add publishedDate to 6 articles
  docs/assessments/claude/2026-03-18-humans-and-agents-loops.md
  src/content/concepts/agent-skills.md
  src/content/concepts/ai-amplification.md
  src/content/concepts/context-engineering.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/vibe-coding.md
  src/content/patterns/agent-optimization-loop.md
  src/content/patterns/ralph-loop.md
  src/mcp/articles.json
Due: biome-check

feat(specs): add longTitle strategy and PBI-71–75 for spec-code alignment
  docs/backlog/PBI-71-76-Title-Strategy-Epic-Index.md
  docs/backlog/PBI-71-Schema-LongTitle.md
  docs/backlog/PBI-72-Views-LongTitle-Wiring.md
  docs/backlog/PBI-73-Scripts-LongTitle.md
  docs/backlog/PBI-74-Content-Title-Migration.md
  docs/backlog/PBI-75-Spec-PublishedDate.md
  specs/content-articles/spec.md
Due: none

feat(content): implement longTitle strategy, close PBI-71–75
  docs/backlog/PBI-71-76-Title-Strategy-Epic-Index.md
  docs/backlog/PBI-71-Schema-LongTitle.md
  docs/backlog/PBI-72-Views-LongTitle-Wiring.md
  docs/backlog/PBI-73-Scripts-LongTitle.md
  docs/backlog/PBI-74-Content-Title-Migration.md
  docs/backlog/PBI-75-Spec-PublishedDate.md
  scripts/build-skill.mjs
  scripts/generate-mcp-index.mjs
  specs/content-articles/spec.md
  src/components/SpecHeader.astro
  src/components/StructuredData.astro
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/ooda-loop.md
  src/content/config.ts
  src/content/practices/agent-personas.md
  src/content/practices/agents-md-spec.md
  src/mcp/articles.json
  src/mcp/content.ts
  src/mcp/tools.ts
  src/pages/concepts/[...slug].astro
  src/pages/fieldmanual.astro
  src/pages/patterns/[...slug].astro
  src/pages/practices/[...slug].astro
  src/pages/resources/compendium.astro
Due: biome-check, astro-check

feat(practices): curated layout with Start Here cards, close AL-11
  package.json
  specs/practices-page/spec.md
  src/mcp/articles.json
  src/pages/practices/index.astro
Due: biome-check, astro-check

feat(homepage): [EM] improve UX — promote MCP, clarify H1, move version to footer, close AL-12
  specs/homepage/spec.md
  specs/site-footer/spec.md
  src/components/Footer.astro
  src/pages/index.astro
  src/styles/ds/components/banner.css
Due: biome-check, astro-check

feat(design-system): [EM] content grid docs, subgrid layout, atomic utilities, /critic command
  .claude/commands/critic.md
  package.json
  src/components/definitions/access-knowledge-base.md
  src/components/ds-docs/LayoutSystem.astro
  src/pages/index.astro
  src/styles/ds/index.css
  src/styles/ds/layouts/grid.css
  src/styles/ds/typography.css
  src/styles/ds/utilities.css
Due: biome-check, astro-check

docs(specs): reverse homepage spec to match current layout
  specs/homepage/spec.md
Due: none

docs(assess): software civil engineering assessment + further reading entry
  docs/assessments/claude/2026-03-23-software-civil-engineering.md
  src/content/concepts/software-civil-engineering.md
  src/pages/resources/further-reading.astro
Due: biome-check, astro-check

fix: next task
  .claude/commands/next-task.md
Due: none

fix(commands): add frontmatter + sub-agent model policy
  .claude/commands/dev.md
  .claude/commands/next-task.md
Due: none

docs(assess): triple debt model assessment + KB integration plan
  docs/assessments/claude/2026-03-25-triple-debt-model.md
  docs/assessments/content-review-arxiv-2603-22106.md
  plans/triple-debt-updates/plan.md
Due: none

chore: gitignore generated MCP articles.json
  .gitignore
  src/mcp/articles.json
Due: biome-check

feat(homepage): extract inline prose into content components (AL-14)
  package.json
  specs/homepage/spec.md
  src/components/definitions/homepage-agentic-factory.md
  src/components/definitions/homepage-knowledge-base.md
  src/components/definitions/homepage-manifesto-intro.md
  src/components/definitions/homepage-quick-start.md
  src/components/definitions/homepage-two-narratives.md
  src/pages/index.astro
Due: biome-check, astro-check

feat(content): add Triple Debt Model concept + KB backlinks
  public/mermaid/adr-authoring-fig-1.svg
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/the-pbi-fig-1.svg
  public/mermaid/triple-debt-model-fig-1.svg
  src/content/concepts/ai-amplification.md
  src/content/concepts/context-engineering.md
  src/content/concepts/learning-loop.md
  src/content/concepts/provenance.md
  src/content/concepts/spec-driven-development.md
  src/content/concepts/triple-debt-model.md
  src/content/concepts/vibe-coding.md
  src/content/patterns/agent-constitution.md
  src/content/patterns/the-adr.md
  src/content/patterns/the-spec.md
  src/content/practices/adversarial-requirement-review.md
  src/content/practices/context-offloading.md
  src/pages/getting-started.md
  src/pages/index.astro
Due: biome-check, astro-check

refactor(agents): lean CLAUDE.md per agents-md-spec practice
  AGENTS.md
  docs/assessments/claude/2026-03-27-claude-md-self-assessment.md
Due: none

chore: bump version to 0.21.6
  package.json
Due: none

refactor(content): restructure vibe-coding to match concept spec + add Triple Debt integration
  src/content/concepts/vibe-coding.md
Due: none

refactor(content): restructure provenance to match concept spec + add Intent Debt distinction
  src/content/concepts/provenance.md
Due: none

fix(content): use proper gherkin code block in living-specs template
  src/content/practices/living-specs.md
Due: none

chore: bump version to 0.21.8 + refresh GEO audit report
  docs/reports/GEO-AUDIT-REPORT.md
  package.json
Due: none

fix(seo): rewrite OODA loop title & meta description for CTR
  src/content/concepts/ooda-loop.md
Due: none

refactor(concepts): curated index layout with Start Here cards
  specs/concepts-index/spec.md
  src/pages/concepts/index.astro
Due: biome-check, astro-check

chore(tooling): add /assemble slash command for dev-critic loop
  .claude/commands/assemble.md
Due: none

docs(spec): add recipes feature spec — agent-first how-to collection
  specs/recipes/spec.md
Due: none

feat(recipes): add recipeSchema, recipes collection, MCP COLLECTIONS
  scripts/generate-mcp-index.mjs
  src/content/config.ts
  src/content/recipes/.gitkeep
Due: biome-check, astro-check

feat(recipes): add Recipes nav link to site header
  src/components/Header.astro
Due: biome-check, astro-check

feat(recipes): add RecipeHeader component for recipe detail pages
  src/components/RecipeHeader.astro
Due: biome-check, astro-check

feat(recipes): add recipe fields to MCP index + remove RecipeCard from spec
  scripts/generate-mcp-index.mjs
  specs/recipes/spec.md
Due: none

feat(mcp): extend Article interface and tools for recipe metadata
  src/mcp/content.ts
  src/mcp/tools.ts
Due: biome-check, astro-check

fix(recipes): remove Recipes from main nav — sub-site via Resources only
  specs/recipes/spec.md
  src/components/Header.astro
Due: biome-check, astro-check

feat(recipes): add recipe detail page [id].astro
  src/pages/recipes/[id].astro
Due: biome-check, astro-check

feat(recipes): add RecipeNav + RecipeLayout — sub-site navigation scaffold
  src/components/RecipeNav.astro
  src/layouts/RecipeLayout.astro
  src/pages/recipes/[id].astro
Due: biome-check, astro-check

feat(recipes): add recipe catalog index page + spec updates for AL-24
  specs/recipes/spec.md
  src/pages/recipes/index.astro
Due: biome-check, astro-check

feat(recipes): add seed recipe — Write an AGENTS.md File (AL-27)
  src/content/recipes/write-agents-md.md
Due: none

feat(resources): add Recipes entry point + section headings + typo fix
  src/pages/resources/index.md
Due: none

chore: bump version to 0.22.0
  package.json
Due: none

feat(workflows,manifesto): add @Ship workflow + refine homepage intro
  .agent/workflows/ship.md
  AGENTS.md
  src/components/definitions/homepage-manifesto-intro.md
Due: none
