Repository villetakanen/asdlc-io: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, astro-check

biome-check:
  run: npx @biomejs/biome check --write {staged_files} && git add {staged_files}

astro-check:
  run: pnpm check

fix: content update plan done
  docs/backlog/PBI-24-The-Legend.md
  docs/backlog/PBI-25-Collection-Definitions.md
  docs/backlog/PBI-26-Content-Governance-Standard.md
  docs/backlog/PBI-27-Refactor-Guardrails.md
  docs/backlog/PBI-28-Taxonomy-Migration.md
  docs/backlog/PBI-29-Agent-Constitution.md
  docs/reports/content-state-report.md
Due: none

fix: major refactor of article modeling
  docs/backlog/PBI-23-Modular-Styles-Refactoring.md
  docs/backlog/PBI-24-The-Legend.md
  docs/backlog/PBI-28-Taxonomy-Migration.md
  src/components/SpecHeader.astro
  src/content/concepts/experience-modeling.md
  src/content/config.ts
  src/content/patterns/context-gates.md
  src/content/patterns/supervisor-agent-pattern.md
  src/pages/concepts/[...slug].astro
  src/pages/concepts/index.astro
  src/pages/fieldmanual.astro
  src/pages/patterns/[...slug].astro
  src/pages/patterns/index.astro
  src/pages/practices/[...slug].astro
  src/pages/practices/index.astro
  src/pages/resources/design-system.astro
  src/pages/resources/index.astro
Due: biome-check, astro-check

fix: moved some articles around
  src/components/definitions/concepts.md
  src/components/definitions/patterns.md
  src/components/definitions/practices.md
  src/content/concepts/context-gates.md
  src/content/patterns/agent-constitution.md
  src/content/patterns/experience-modeling.md
  src/content/resources/legend.md
  src/layouts/CollectionIndex.astro
  src/pages/resources/legend.astro
Due: biome-check, astro-check

fix: pbi-26 pruned
  docs/backlog/PBI-26-Content-Governance-Standard.md
Due: none

fix: more metadata polish
  docs/backlog/PBI-27-Refactor-Guardrails.md
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-engineering.md
  src/content/concepts/guardrails.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/model-context-protocol.md
  src/content/config.ts
  src/content/patterns/experience-modeling.md
  src/pages/resources/governance.astro
  src/pages/resources/index.astro
Due: biome-check, astro-check

fix: rest of iteration 7 primary content
  src/components/SpecHeader.astro
  src/content/concepts/guardrails.md
  src/content/config.ts
  src/content/patterns/agent-constitution.md
Due: biome-check, astro-check

fix: ds update pbi added
  docs/backlog/PBI-30-Refine-Design-System.md
Due: none

fix: [EM] updated DS with the new reqs.
  docs/backlog/PBI-30-Refine-Design-System.md
  src/layouts/CollectionIndex.astro
  src/pages/index.astro
  src/pages/resources/design-system.astro
  src/styles/ds/components/banner.css
  src/styles/ds/index.css
  src/styles/ds/layouts/spec-grid.css
Due: biome-check, astro-check

fix: pre-release
  package.json
Due: none

docs: spec driven development
  package.json
  public/mermaid/spec-driven-development-fig-1.svg
  src/content/concepts/spec-driven-development.md
Due: none

docs: agent personas
  AGENTS.md
  package.json
  src/content/concepts/context-gates.md
  src/content/practices/agent-personas.md
  src/content/practices/agents-md-spec.md
Due: none

fix: [EM] correct design system color palette layout by adding dedicated component styles
  docs/backlog/PBI-31-Fix-Design-System-Styles.md
  src/styles/ds/components/color-palette.css
  src/styles/ds/index.css
Due: biome-check

doc: added early draft for double diamond
  package.json
  src/content/patterns/agentic-double-diamond.md
Due: none

feat: add 'contextual alignment (the mission)' section to AGENTS.md specification
  src/content/practices/agents-md-spec.md
Due: none

fix: agents.md to align with best practices
  AGENTS.md
  package.json
  src/content/practices/agents-md-spec.md
Due: none

docs: added 4d framework
  package.json
  src/content/concepts/4d-framework.md
Due: none

docs: added spec and pbi doc respectfully
  package.json
  src/content/patterns/the-pbi.md
  src/content/patterns/the-spec.md
Due: none

fix: added a diagram to spec, spec to draft
  public/mermaid/spec-driven-development-fig-1.svg
  public/mermaid/the-spec-fig-1.svg
  src/content/patterns/the-spec.md
Due: none

fix: releasing updates to docs
  package.json
Due: none

fix: field manual spec written
  docs/specs/field-manual.md
Due: none

docs: planned field manual updates
  docs/backlog/PBI-32-36-Field-Manual-Index.md
  docs/backlog/PBI-32-Field-Manual-Status-Sorting.md
  docs/backlog/PBI-33-Field-Manual-Section-Order.md
  docs/backlog/PBI-34-Field-Manual-Practices-Collection.md
  docs/backlog/PBI-35-Field-Manual-Display-Descriptions.md
  docs/backlog/PBI-36-Field-Manual-Standardize-Metadata.md
Due: none

fix: updated field manual to match current state of the project
  docs/backlog/PBI-32-36-Field-Manual-Index.md
  docs/backlog/PBI-32-Field-Manual-Status-Sorting.md
  docs/backlog/PBI-33-Field-Manual-Section-Order.md
  docs/backlog/PBI-34-Field-Manual-Practices-Collection.md
  docs/backlog/PBI-35-Field-Manual-Display-Descriptions.md
  docs/backlog/PBI-36-Field-Manual-Standardize-Metadata.md
  package.json
  src/pages/fieldmanual.astro
Due: biome-check, astro-check

docs: dd Living Specs practice guide
  src/content/patterns/the-spec.md
  src/content/practices/living-specs.md
Due: none

docs: refactor Specs pattern and Living Specs practice guide
  package.json
  src/content/patterns/the-spec.md
  src/content/practices/living-specs.md
Due: none

docs: generated a missing mermaid
  public/mermaid/spec-driven-development-fig-1.svg
  src/content/patterns/the-spec.md
Due: none

Update package.json
  package.json
Due: none

docs: planned the feature
  docs/backlog/PBI-37-41-MCP-Server-Index.md
  docs/backlog/PBI-37-MCP-Edge-Function-Entry-Point.md
  docs/backlog/PBI-38-MCP-Protocol-Handler.md
  docs/backlog/PBI-39-MCP-Content-Reading-Utilities.md
  docs/backlog/PBI-40-MCP-Tool-Implementations.md
  docs/backlog/PBI-41-MCP-Netlify-Configuration.md
  docs/specs/mcp-server/spec.md
Due: none

docs: added sensible testing
  docs/backlog/PBI-37-41-MCP-Server-Index.md
  docs/backlog/PBI-37-MCP-Edge-Function-Entry-Point.md
  docs/backlog/PBI-42-MCP-Test-Infrastructure.md
Due: none

feat(mcp): implement mcp server and remote verification utility
  AGENTS.md
  README.md
  docs/backlog/PBI-38-MCP-Protocol-Handler.md
  docs/backlog/PBI-39-MCP-Content-Reading-Utilities.md
  docs/backlog/PBI-40-MCP-Tool-Implementations.md
  netlify/edge-functions/mcp.test.ts
  netlify/edge-functions/mcp.ts
  package.json
  pnpm-lock.yaml
  scripts/test-deploy-preview.mjs
  src/mcp/content.test.ts
  src/mcp/content.ts
  src/mcp/server.test.ts
  src/mcp/server.ts
  src/mcp/test-helpers.test.ts
  src/mcp/test-helpers.ts
  src/mcp/tools.ts
  vitest.config.ts
Due: biome-check, astro-check

docs: update living-specs metadata and add section on spec granularity
  src/content/practices/living-specs.md
Due: none

chore: consolidate all tests into ./tests and fix Netlify build failure
  package.json
  tests/mcp/content.test.ts
  tests/mcp/mcp.edge.test.ts
  tests/mcp/server.test.ts
  tests/mcp/test-helpers.test.ts
  vitest.config.ts
Due: astro-check

fix: add explicit .ts extensions to mcp imports for deno compatibility
  src/mcp/server.ts
  src/mcp/tools.ts
  tests/mcp/content.test.ts
  tests/mcp/mcp.edge.test.ts
  tests/mcp/server.test.ts
  tests/mcp/test-helpers.test.ts
Due: biome-check, astro-check

fix: implement build-time JSON manifest for MCP articles to fix runtime missing content
  netlify/edge-functions/mcp.ts
  package.json
  scripts/generate-mcp-index.mjs
  scripts/test-deploy-preview.mjs
  src/mcp/articles.json
  src/mcp/content.ts
  tests/mcp/content.test.ts
  tests/mcp/server.test.ts
Due: biome-check, astro-check

docs: add MCP compatibility mention to homepage
  src/pages/index.astro
Due: biome-check, astro-check

docs: professionalize README.md and synchronize AGENTS.md
  AGENTS.md
  README.md
Due: none

fix: some order by status
  package.json
  src/components/SpecCard.astro
  src/content/concepts/spec-driven-development.md
  src/content/patterns/the-spec.md
  src/mcp/articles.json
  src/pages/concepts/index.astro
  src/pages/patterns/index.astro
  src/pages/practices/index.astro
  src/utils/content.ts
Due: biome-check, astro-check

fix: small updates to agents.md
  AGENTS.md
Due: none

fix: mcp updates planned
  docs/backlog/PBI-43-46-MCP-Semantic-Routing-Optimization.md
  docs/backlog/PBI-43-Rename-Search-Tool.md
  docs/backlog/PBI-44-Enrich-Search-Tool-Description.md
  docs/backlog/PBI-45-Add-Get-Article-Constraints.md
  docs/backlog/PBI-46-Enrich-List-Articles-Description.md
  docs/specs/mcp-server/semantic-routing-optimization.md
Due: none

refactor: pbi 34
  AGENTS.md
  docs/backlog/PBI-43-46-MCP-Semantic-Routing-Optimization.md
  docs/backlog/PBI-43-Rename-Search-Tool.md
  src/mcp/tools.ts
  tests/mcp/server.test.ts
Due: biome-check, astro-check

feat(mcp): implement pbi 43-46 semantic routing optimization
  docs/backlog/PBI-43-46-MCP-Semantic-Routing-Optimization.md
  docs/backlog/PBI-44-Enrich-Search-Tool-Description.md
  docs/backlog/PBI-45-Add-Get-Article-Constraints.md
  docs/backlog/PBI-46-Enrich-List-Articles-Description.md
  scripts/test-deploy-preview.mjs
  src/mcp/tools.ts
  tests/mcp/mcp.edge.test.ts
Due: biome-check, astro-check

Path conditions:
  biome-check: any of: src/**/*.{js,ts,astro,json,css}
  astro-check: any of: **/*.{astro,ts,tsx,js,jsx}
