Repository villetakanen/asdlc-io: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, astro-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "src/**/*.{js,ts,astro,json,css}"
      run: npx @biomejs/biome check --write {staged_files} && git add {staged_files}
    astro-check:
      glob: "**/*.{astro,ts,tsx,js,jsx}"
      run: pnpm check

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
    verify-ds-freeze:
      run: node scripts/verify-ds-freeze.cjs {1}

fix: small polish based on new source materials
  src/content/practices/agents-md-spec.md
  src/content/practices/feature-assembly.md
  src/content/practices/pbi-authoring.md
Due: none

fix: date updates
  src/content/practices/agents-md-spec.md
Due: none

fix: InfiAgent findings incorporated
  package.json
  src/content/concepts/context-engineering.md
  src/content/concepts/coverage-metric.md
  src/content/patterns/external-attention.md
  src/content/practices/agents-md-spec.md
Due: none

fix: week 2 content drop, waiting for hitl and adversial reviews
  mermaid.json
  plans/content-articles/concept-spec.md
  plans/content-articles/pattern-spec.md
  plans/content-articles/practice-spec.md
  plans/field-manual/spec.md
  plans/mcp-server/semantic-routing-optimization.md
  plans/mcp-server/spec.md
  plans/mermaid-diagrams/spec.md
  public/mermaid/experience-modeling-fig-1.svg
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/mermaid-fig-1.svg
  public/mermaid/mermaid-fig-2.svg
  public/mermaid/ralph-loop-fig-1.svg
  public/mermaid/the-spec-fig-1.svg
  src/content/concepts/behavior-driven-development.md
  src/content/concepts/gherkin.md
  src/content/concepts/learning-loop.md
  src/content/concepts/mermaid.md
  src/content/concepts/ooda-loop.md
  src/content/concepts/yaml.md
  src/content/patterns/ralph-loop.md
  src/content/patterns/the-spec.md
  src/mcp/articles.json
  src/pages/resources/design-system.astro
Due: biome-check, astro-check

docs: added pbi for live content review
  docs/backlog/PBI-54-Live-Content-Review.md
Due: none

fix: trial run of live content sweep.
  docs/backlog/PBI-54-Live-Content-Review.md
  src/content/concepts/context-engineering.md
Due: none

fix: a set of live articles cross-examined for holistic qa
  docs/backlog/PBI-54-Live-Content-Review.md
  src/content/concepts/gherkin.md
  src/content/concepts/mermaid.md
  src/content/concepts/yaml.md
  src/content/patterns/the-spec.md
Due: none

fix: all live concepts cross-examined
  docs/backlog/PBI-54-Live-Content-Review.md
  src/content/concepts/4d-framework.md
  src/content/concepts/behavior-driven-development.md
  src/content/concepts/ooda-loop.md
  src/content/concepts/yaml.md
Due: none

fix: first of the live patterns cross-examined
  docs/backlog/PBI-54-Live-Content-Review.md
  plans/content-articles/pattern-spec.md
  src/content/patterns/the-spec.md
Due: none

fix: patterns reviewed, some promotions
  docs/backlog/PBI-54-Live-Content-Review.md
  src/content/patterns/model-routing.md
  src/content/patterns/product-vision.md
  src/content/patterns/ralph-loop.md
  src/content/patterns/the-pbi.md
Due: none

docs: complete PBI-54 live content review
  docs/backlog/PBI-54-Live-Content-Review.md
  src/content/practices/agent-personas.md
  src/content/practices/agents-md-spec.md
  src/content/practices/micro-commits.md
  src/content/practices/pbi-authoring.md
  src/mcp/articles.json
Due: biome-check

fix: promoted agent constitution to live
  src/content/patterns/agent-constitution.md
  src/content/practices/agents-md-spec.md
Due: none

fix: cross-referenced Nick Tunes coded workflows concept
  AGENTS.md
  docs/backlog/PBI-55-Reflect-Nick-Tune-Workflows.md
  package.json
  src/content/concepts/spec-driven-development.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/context-gates.md
  src/content/patterns/ralph-loop.md
  src/content/practices/workflow-as-code.md
Due: none

fix: added huryn article findings
  docs/backlog/PBI-56-Intent-Engineering-Updates.md
  package.json
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/product-requirement-prompt.md
  src/content/patterns/agent-constitution.md
Due: none

docs: skill spec
  docs/backlog/PBI-57-Skill-Build-Script-Foundation.md
  docs/backlog/PBI-58-Skill-Content-Normalization.md
  docs/backlog/PBI-59-Skill-Entry-Point-Packaging.md
  plans/downloadable-skill/spec.md
Due: none

fix: skill visible in the front page
  AGENTS.md
  README.md
  package.json
  scripts/build-skill.mjs
  src/mcp/articles.json
  src/pages/getting-started.astro
  src/pages/index.astro
Due: biome-check, astro-check

docs: add ADR concepts, feedback loop compression, and experience modeling improvements
  public/images/prime-hypothesis-1-distribution.svg
  src/content/concepts/architecture-decision-record.md
  src/content/concepts/feedback-loop-compression.md
  src/content/concepts/learning-loop.md
  src/content/concepts/ooda-loop.md
  src/content/concepts/production-readiness-gap.md
  src/content/concepts/request-for-comments.md
  src/content/concepts/vibe-coding.md
  src/content/patterns/experience-modeling.md
  src/content/patterns/model-routing.md
  src/content/patterns/ralph-loop.md
  src/content/patterns/the-adr.md
  src/content/practices/adr-authoring.md
  src/mcp/articles.json
Due: biome-check

chore: prep for release
  package.json
Due: none

fix: small update to getting started guide
  src/pages/getting-started.astro
Due: biome-check, astro-check

chore: release
  package.json
Due: none

docs(practices): add reference to Vercel AGENTS.md study
  src/content/practices/agents-md-spec.md
Due: none

fix(content): correct invalid reference type in agents-md-spec
  src/content/practices/agents-md-spec.md
  src/mcp/articles.json
Due: biome-check

feat(content): new articles, status promotions, and model-routing rewrite
  docs/sources/calm-coding-oc2sf.md
  package.json
  src/content/concepts/vibe-coding.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/constitutional-review.md
  src/content/patterns/model-routing.md
  src/content/patterns/spec-reversing.md
  src/content/patterns/the-spec.md
  src/content/practices/adversarial-code-review.md
  src/content/practices/feature-assembly.md
  src/mcp/articles.json
Due: biome-check

docs(mcp): add fuzzy search spec with Fuse.js
  plans/mcp-server/mcp-search.md
Due: none

docs: mcp search with fuze
  .claude/commands/dev.md
  .claude/commands/lead.md
  AGENTS.md
  docs/backlog/PBI-60-62-MCP-Fuzzy-Search-Index.md
  docs/backlog/PBI-60-Fuse-Dependency-Build-Index.md
  docs/backlog/PBI-61-Fuse-ContentService-Search.md
  docs/backlog/PBI-62-Fuse-Edge-Function-Wiring.md
  plans/mcp-server/mcp-search.md
Due: none

feat(mcp): add Fuse.js dependency and build-time search index generation (PBI-60)
  .gitignore
  AGENTS.md
  docs/backlog/PBI-60-Fuse-Dependency-Build-Index.md
  package.json
  pnpm-lock.yaml
  scripts/generate-mcp-index.mjs
Due: none

feat(mcp): replace substring search with Fuse.js fuzzy search (PBI-61)
  docs/backlog/PBI-61-Fuse-ContentService-Search.md
  src/mcp/content.ts
  tests/mcp/content.test.ts
Due: biome-check, astro-check

feat(mcp): wire pre-built Fuse index in edge function (PBI-62)
  docs/backlog/PBI-60-62-MCP-Fuzzy-Search-Index.md
  docs/backlog/PBI-62-Fuse-Edge-Function-Wiring.md
  netlify/edge-functions/mcp.ts
Due: astro-check

docs: review on search
  docs/backlog/PBI-63-MCP-Search-Hardening.md
Due: none

feat: adversarial req review
  package.json
  public/images/agentic-double-diamond.svg
  src/content/concepts/product-thinking.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/agentic-double-diamond.md
  src/content/practices/adversarial-requirement-review.md
Due: none

feat: introduce AI Amplification concept
  .agent/workflows/assess-content.md
  package.json
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/ai-amplification.md
  src/content/concepts/context-engineering.md
  src/content/concepts/vibe-coding.md
Due: none

fix: frontmatter
  src/content/concepts/ai-amplification.md
  src/mcp/articles.json
Due: biome-check

chore: lefthook forces working build on push
  lefthook.yml
Due: none

feat: add agent optimization loop pattern and provenance concept
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-engineering.md
  src/content/concepts/provenance.md
  src/content/patterns/agent-optimization-loop.md
  src/content/patterns/the-spec.md
  src/mcp/articles.json
Due: biome-check

chore: fixed assess-flow
  .agent/workflows/assess-content.md
Due: none

feat: context map added agentically
  package.json
  src/content/concepts/context-engineering.md
  src/content/practices/agents-md-spec.md
  src/content/practices/micro-commits.md
Due: none

fix: files missing from previous
  src/content/patterns/context-map.md
  src/content/practices/context-mapping.md
Due: none

feat: a massive update to constitution and related packages
  package.json
  src/content/concepts/context-engineering.md
  src/content/patterns/agent-constitution.md
  src/content/practices/agent-personas.md
  src/content/practices/agents-md-spec.md
  src/content/practices/workflow-as-code.md
  src/mcp/articles.json
Due: biome-check

feat: add SEO redirects and update agents-md-spec context map section
  netlify.toml
  package.json
  src/content/practices/agents-md-spec.md
  src/mcp/articles.json
Due: biome-check

fix: article card and listing refactor
  .agent/workflows/spec-engineer.md
  .gitignore
  docs/backlog/PBI-64-Update-Article-Cards.md
  package.json
  plans/article-cards/spec.md
  playwright.config.ts
  pnpm-lock.yaml
  src/components/SpecCard.astro
  src/components/SpecCardList.astro
  src/pages/concepts/index.astro
  src/pages/patterns/index.astro
  src/pages/practices/index.astro
  src/pages/resources/design-system.astro
  tests/components/SpecCard.test.ts
  tests/e2e/article-cards.spec.ts
Due: biome-check, astro-check
