Repository villetakanen/asdlc-io: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, astro-check

biome-check:
  run: npx @biomejs/biome check --write {staged_files} && git add {staged_files}

astro-check:
  run: pnpm check

feat: [EM] add context-offloading practice, PBI/ADR content updates, and v0.18.0
  package.json
  public/images/prime-hypothesis-1-distribution.svg
  public/mermaid/adr-authoring-fig-1.svg
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/the-pbi-fig-1.svg
  src/components/SEOMetadata.astro
  src/content/concepts/context-engineering.md
  src/content/patterns/agent-optimization-loop.md
  src/content/patterns/ralph-loop.md
  src/content/patterns/the-pbi.md
  src/content/practices/adr-authoring.md
  src/content/practices/context-offloading.md
  src/mcp/articles.json
  src/pages/getting-started.astro
  src/pages/index.astro
  src/styles/ds/fig.css
  src/styles/ds/index.css
Due: biome-check, astro-check

docs: add context anchoring concept from Addy Osmani assessment
  docs/reports/agents-md-assessment-addyosmani.md
  src/content/concepts/context-anchoring.md
  src/content/concepts/context-engineering.md
  src/content/practices/agents-md-spec.md
Due: none

docs: add extreme programming concept and agentic mapping
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/behavior-driven-development.md
  src/content/concepts/extreme-programming.md
  src/content/patterns/agentic-double-diamond.md
Due: none

docs(content): assess Effective Delivery framework and update assess-content workflow
  .agent/workflows/assess-content.md
  docs/reports/assess-effectivedelivery-framework.md
  src/content/patterns/agentic-double-diamond.md
  src/content/practices/agent-personas.md
  src/mcp/articles.json
Due: biome-check

style(images): add ASDLC logo to Agentic Double Diamond SVG
  public/images/agentic-double-diamond.svg
Due: none

style(images): use official ASDLC logo in Agentic Double Diamond SVG
  public/images/agentic-double-diamond.svg
Due: none

refactor: convert getting-started page from inlined HTML to markdown
  package.json
  src/layouts/ProseLayout.astro
  src/mcp/articles.json
  src/pages/getting-started.astro
  src/pages/getting-started.md
Due: biome-check, astro-check

docs(content): assess SWE-Protégé and update Model Routing pattern
  docs/reports/assess-swe-protege.md
  src/content/patterns/model-routing.md
Due: none

fix: getting started polish
  package.json
  public/mermaid/adr-authoring-fig-1.svg
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/getting-started-fig-1.svg
  public/mermaid/the-pbi-fig-1.svg
  scripts/generate-diagrams.mjs
  src/mcp/articles.json
  src/pages/getting-started.md
Due: biome-check

fix(tests): use Astro vite config and flexible assertions for SpecCard tests
  tests/components/SpecCard.test.ts
  tsconfig.json
  vitest.config.ts
Due: astro-check

feat: add concept article for agent skills
  package.json
  src/content/concepts/agent-skills.md
  src/content/concepts/model-context-protocol.md
Due: none

fix: sdd updates
  docs/backlog/PBI-65-Integrate-SDD-Maturity-Levels.md
  docs/reports/content_review_report.md
  docs/reports/content_review_report_sdd_3_tools.md
  src/content/concepts/model-driven-development.md
  src/content/concepts/spec-driven-development.md
  src/content/patterns/the-spec.md
  src/content/practices/living-specs.md
Due: none

feat: rename industry-alignment to further-reading, update content and assessments
  .agent/workflows/assess-content.md
  docs/assessments/2026-03-04-ai-triangle.md
  package.json
  src/content/concepts/product-requirement-prompt.md
  src/content/concepts/product-thinking.md
  src/content/concepts/vibe-coding.md
  src/content/patterns/the-spec.md
  src/content/practices/agents-md-spec.md
  src/mcp/articles.json
  src/pages/resources/further-reading.astro
  src/pages/resources/index.astro
  src/pages/resources/industry-alignment.astro
Due: biome-check, astro-check

docs(content): log Dylan Brown spec-driven development article
  docs/reports/content_review_report_sdd_dylan_brown.md
  src/content/concepts/spec-driven-development.md
  src/pages/resources/further-reading.astro
Due: biome-check, astro-check

docs: address 2026-03-09 adversarial review findings
  docs/adversarial-review/2026-03-09.md
  docs/reports/content_review_report_devto.md
  docs/reports/content_review_report_madrona.md
  docs/reports/content_review_report_sdd_willison.md
  docs/reports/content_review_report_stanford.md
  package.json
  src/content/concepts/ai-software-factory.md
  src/content/concepts/digital-twins.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/provenance.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/agent-optimization-loop.md
  src/content/patterns/context-gates.md
  src/pages/resources/further-reading.astro
Due: biome-check, astro-check

fix: small polish to front page
  package.json
  src/components/definitions/access-knowledge-base.md
  src/mcp/articles.json
  src/pages/index.astro
Due: biome-check, astro-check

fix: geo audit test dogfood
  .claude/commands/geo-audit.md
  docs/reports/GEO-AUDIT-REPORT.md
Due: none

docs(specs): add PBI-66, PBI-67, PBI-68 and layout spec for Patterns Index
  docs/backlog/PBI-66-Patterns-Index.md
  docs/backlog/PBI-67-Migrate-Plans-to-Specs.md
  docs/backlog/PBI-68-SpecLineItem-Component.md
  specs/patterns-index/spec.md
Due: none

docs(specs): add design system and SpecLineItem component specs
  docs/backlog/PBI-68-SpecLineItem-Component.md
  specs/design-system/spec-line-item/spec.md
  specs/design-system/spec.md
Due: none

docs(specs): draft dynamic routing structure for isolated DS views (PBI-69)
  docs/backlog/PBI-69-Isolated-DS-Views.md
  specs/design-system/isolated-views/spec.md
  specs/design-system/spec.md
Due: none

feat(ds): implement isolated design system views [EM] (PBI-69)
  package.json
  src/components/SpecLineItem.astro
  src/components/ds-docs/Accessibility.astro
  src/components/ds-docs/BestPractices.astro
  src/components/ds-docs/ColorPalette.astro
  src/components/ds-docs/Components.astro
  src/components/ds-docs/Diagrams.astro
  src/components/ds-docs/FileReferences.astro
  src/components/ds-docs/LayoutSystem.astro
  src/components/ds-docs/Typography.astro
  src/components/ds-docs/docs/ArticleReferencesDocs.astro
  src/components/ds-docs/docs/BorderBoxDocs.astro
  src/components/ds-docs/docs/SpecCardDocs.astro
  src/components/ds-docs/docs/SpecHeaderDocs.astro
  src/components/ds-docs/docs/SpecLineItemDocs.astro
  src/components/ds-docs/docs/StatusBadgeDocs.astro
  src/components/ds-docs/docs/WarningBannerDocs.astro
  src/pages/resources/design-system.astro
  src/pages/resources/design-system/[...section].astro
Due: biome-check, astro-check

docs: mark PBI-69 as completed
  docs/backlog/PBI-69-Isolated-DS-Views.md
Due: none

fix(ds): polish design system page structure and update specs
  .claude/commands/ship.md
  specs/design-system/isolated-views/spec.md
  specs/design-system/spec-line-item/spec.md
  specs/design-system/spec.md
  src/pages/resources/design-system/[...section].astro
Due: biome-check, astro-check

test(ds): add Gherkin scenarios to DS specs, unit and e2e tests
  package.json
  playwright.config.ts
  specs/design-system/isolated-views/spec.md
  specs/design-system/spec-line-item/spec.md
  specs/design-system/spec.md
  tests/components/SpecLineItem.test.ts
  tests/e2e/design-system.spec.ts
Due: astro-check

refactor(resources): convert index page from Astro to Markdown
  src/pages/resources/index.astro
  src/pages/resources/index.md
Due: biome-check, astro-check

fix(ds): replace SpecLineItem misuse with proper section headers [EM]
  specs/design-system/isolated-views/spec.md
  specs/design-system/spec-line-item/spec.md
  specs/design-system/spec.md
  src/components/ds-docs/Accessibility.astro
  src/components/ds-docs/BestPractices.astro
  src/components/ds-docs/ColorPalette.astro
  src/components/ds-docs/Components.astro
  src/components/ds-docs/Diagrams.astro
  src/components/ds-docs/DsComponentHeader.astro
  src/components/ds-docs/DsSectionHeader.astro
  src/components/ds-docs/FileReferences.astro
  src/components/ds-docs/LayoutSystem.astro
  src/components/ds-docs/Typography.astro
  src/components/ds-docs/docs/ArticleReferencesDocs.astro
  src/components/ds-docs/docs/BorderBoxDocs.astro
  src/components/ds-docs/docs/SpecCardDocs.astro
  src/components/ds-docs/docs/SpecHeaderDocs.astro
  src/components/ds-docs/docs/SpecLineItemDocs.astro
  src/components/ds-docs/docs/StatusBadgeDocs.astro
  src/components/ds-docs/docs/WarningBannerDocs.astro
Due: biome-check, astro-check

feat(ds): add example-container and improve SpecLineItem docs [EM]
  src/components/ds-docs/docs/SpecLineItemDocs.astro
  src/styles/ds/components/example-container.css
  src/styles/ds/index.css
Due: biome-check, astro-check

fix(ds): require ul/li list semantics for SpecLineItem usage [EM]
  specs/design-system/spec-line-item/spec.md
  src/components/ds-docs/docs/SpecLineItemDocs.astro
  src/styles/ds/components/spec-line-list.css
  src/styles/ds/index.css
Due: biome-check, astro-check

refactor(ds): rename SpecLineItem to SpecListItem [EM]
  docs/backlog/PBI-66-Patterns-Index.md
  docs/backlog/PBI-68-SpecLineItem-Component.md
  docs/backlog/PBI-69-Isolated-DS-Views.md
  specs/design-system/isolated-views/spec.md
  specs/design-system/spec-list-item/spec.md
  specs/design-system/spec.md
  specs/patterns-index/spec.md
  src/components/SpecListItem.astro
  src/components/ds-docs/Components.astro
  src/components/ds-docs/docs/SpecListItemDocs.astro
  src/pages/resources/design-system/[...section].astro
  src/styles/ds/components/spec-line-list.css
  src/styles/ds/components/spec-list.css
  src/styles/ds/index.css
  tests/components/SpecListItem.test.ts
Due: biome-check, astro-check

feat(ds): simplify SpecListItem to title/url/description [EM]
  specs/design-system/spec-list-item/spec.md
  src/components/SpecListItem.astro
  src/components/ds-docs/docs/SpecListItemDocs.astro
  src/styles/ds/components/spec-list.css
  tests/components/SpecListItem.test.ts
Due: biome-check, astro-check

feat(patterns): refactor index with structured layout (PBI-66)
  specs/patterns-index/spec.md
  src/pages/index.astro
  src/pages/patterns/index.astro
Due: biome-check, astro-check

feat(commands): add /spec skill for spec-driven development
  .claude/commands/spec.md
Due: none

fix(patterns): use frontmatter description in structured data
  .claude/commands/spec.md
  specs/structured-data/spec.md
  src/pages/patterns/[...slug].astro
Due: biome-check, astro-check

feat(schema): add datePublished with optional publishedDate fallback
  specs/structured-data/spec.md
  src/content/config.ts
  src/pages/concepts/[...slug].astro
  src/pages/patterns/[...slug].astro
  src/pages/practices/[...slug].astro
Due: biome-check, astro-check

feat(aeo): add llms.txt with MCP endpoint and attribution policy
  lefthook.yml
  public/llms.txt
  specs/llms-txt/spec.md
Due: none

feat(seo): add Organization + WebSite structured data to homepage
  specs/homepage-structured-data/spec.md
  src/pages/index.astro
Due: biome-check, astro-check

feat(seo): optimize titles, descriptions, and AI crawler signals
  netlify.toml
  package.json
  public/robots.txt
  specs/robots-txt/spec.md
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/ooda-loop.md
  src/content/practices/agent-personas.md
  src/content/practices/agents-md-spec.md
  src/mcp/articles.json
  src/pages/getting-started.md
Due: biome-check

chore: default OG image, backlog cleanup, article-cards spec migration
  docs/backlog/PBI-54-Live-Content-Review.md
  docs/backlog/PBI-55-Reflect-Nick-Tune-Workflows.md
  docs/backlog/PBI-64-Update-Article-Cards.md
  docs/backlog/PBI-65-Integrate-SDD-Maturity-Levels.md
  docs/backlog/PBI-66-Patterns-Index.md
  docs/backlog/PBI-70-Default-OG-Image.md
  plans/article-cards/spec.md
  public/asdlc.png
  specs/article-cards/spec.md
  src/components/SEOMetadata.astro
Due: biome-check, astro-check

refactor(specs): migrate article-references and content-articles to specs/
  .agent/workflows/assess-content.md
  .agent/workflows/spec-engineer.md
  .claude/commands/dev.md
  .claude/commands/lead.md
  AGENTS.md
  plans/article-references/spec.md
  plans/content-articles/concept-spec.md
  plans/content-articles/pattern-spec.md
  plans/content-articles/practice-spec.md
  specs/article-references/spec.md
  specs/content-articles/concept.md
  specs/content-articles/pattern.md
  specs/content-articles/practice.md
  specs/content-articles/spec.md
  specs/llms-txt/spec.md
  src/content/patterns/product-vision.md
  src/content/patterns/the-spec.md
  src/content/practices/constitutional-review-implementation.md
  src/content/practices/feature-assembly.md
  src/content/practices/living-specs.md
  src/content/practices/pbi-authoring.md
  src/pages/getting-started.md
Due: none

chore: version bump, brand asset update, index reformat
  package.json
  public/asdlc.svg
  src/mcp/articles.json
Due: biome-check

Path conditions:
  biome-check: any of: src/**/*.{js,ts,astro,json,css}
  astro-check: any of: **/*.{astro,ts,tsx,js,jsx}
