Repository villetakanen/asdlc-io: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, astro-check

biome-check:
  run: npx @biomejs/biome check --write {staged_files} && git add {staged_files}

astro-check:
  run: pnpm check

feat(specs): drop shipped status and add gsc helpers
  scripts/lint-specs.mjs
  specs/article-cards/spec.md
  specs/article-references/spec.md
  specs/concepts-index/spec.md
  specs/content-curator/spec.md
  specs/design-system/isolated-views/spec.md
  specs/design-system/spec-list-item/spec.md
  specs/design-system/spec.md
  specs/gsc-integration/spec.md
  specs/homepage-structured-data/spec.md
  specs/homepage/spec.md
  specs/install-tabs/spec.md
  specs/llms-txt/spec.md
  specs/patterns-index/spec.md
  specs/practices-page/spec.md
  specs/recipes/spec.md
  specs/robots-txt/spec.md
  specs/site-footer/spec.md
  specs/structured-data/spec.md
  src/lib/gsc/index.test.ts
  src/lib/gsc/index.ts
  src/lib/gsc/schema.ts
Due: biome-check, astro-check

chore: gitignore GSC credentials and transient snapshot files
  .gitignore
Due: none

feat(patterns): add Artifact Import pattern
  src/content/patterns/artifact-import.md
Due: none

feat(gsc): add snapshot tooling and safer defaults
  .env.example
  .gitignore
  package.json
  scripts/gsc-snapshot.ts
  specs/content-curator/spec.md
  specs/gsc-integration/spec.md
  tools/curator/rubric.test.ts
  tools/curator/rubric.ts
  tools/curator/triage.test.ts
  tools/curator/triage.ts
  tools/gsc/index.test.ts
  tools/gsc/index.ts
  tools/gsc/schema.ts
  tools/gsc/snapshot.test.ts
  tools/gsc/snapshot.ts
  vitest.config.ts
Due: astro-check

docs(adrs): drop live mcp-gsc server; ADR 0001
  docs/adrs/0001-no-live-gsc-mcp-server.md
  specs/content-curator/spec.md
  specs/gsc-integration/spec.md
Due: none

feat(concepts): add react pattern and cross-links
  docs/assessments/2026-05-28-react.md
  docs/assessments/ledger.jsonl
  src/content/concepts/context-engineering.md
  src/content/concepts/ooda-loop.md
  src/content/concepts/react-pattern.md
  src/content/patterns/ralph-loop.md
  src/pages/resources/further-reading.astro
Due: biome-check, astro-check

chore(release): bump to v0.24.0
  AGENTS.md
  package.json
  src/components/definitions/access-knowledge-base.astro
  src/components/definitions/homepage-manifesto-intro.md
Due: biome-check, astro-check

feat(concepts): upgrade autonomy taxonomy and curator assets
  .claude/skills/curator.md
  docs/assessments/2026-05-28-levels-of-autonomy-upgrade.md
  package.json
  public/mermaid/adr-authoring-fig-1.svg
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/levels-of-autonomy-fig-1.svg
  public/mermaid/the-pbi-fig-1.svg
  reports/curator/2026-05-28.md
  scripts/curator-run.ts
  src/content/concepts/levels-of-autonomy.md
  src/content/patterns/the-spec.md
Due: astro-check

chore: updated figs manually for visual polish
  public/mermaid/adr-authoring-fig-1.svg
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/levels-of-autonomy-fig-1.svg
  public/mermaid/the-pbi-fig-1.svg
  src/content/concepts/levels-of-autonomy.md
Due: none

docs(patterns): wire bidirectional links for artifact-import
  src/content/concepts/provenance.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/context-gates.md
  src/content/patterns/model-routing.md
  src/content/patterns/spec-reversing.md
  src/content/patterns/the-spec.md
Due: none

chore: geo audit rewrite
  docs/reports/GEO-AUDIT-REPORT.md
Due: none

Fix typos in agents-md-spec.md
  src/content/practices/agents-md-spec.md
Due: none

Update getting-started.md
  src/pages/getting-started.md
Due: none

docs(assessments): synthesize self-harness paper into KB
  docs/assessments/2026-06-10-self-harness.md
  docs/assessments/ledger.jsonl
  docs/assessments/lessons.md
  src/content/concepts/harness-engineering.md
  src/content/patterns/agent-optimization-loop.md
  src/pages/resources/further-reading.astro
Due: biome-check, astro-check

feat(sitemap): emit per-article lastmod from content lastUpdated
  astro.config.mjs
  specs/robots-txt/spec.md
  specs/sitemap/spec.md
Due: none

feat(seo): add BreadcrumbList JSON-LD to article and collection pages
  specs/breadcrumbs/spec.md
  specs/sitemap/spec.md
  specs/structured-data/spec.md
  src/components/StructuredData.astro
  src/lib/breadcrumbs.ts
  src/pages/concepts/[...slug].astro
  src/pages/concepts/index.astro
  src/pages/patterns/[...slug].astro
  src/pages/patterns/index.astro
  src/pages/practices/[...slug].astro
  src/pages/practices/index.astro
  src/pages/recipes/[id].astro
  src/pages/recipes/index.astro
Due: biome-check, astro-check

chore(content): ship curator triage updates
  .agents/skills/curator/SKILL.md
  reports/curator/2026-06-11.md
  src/content/practices/agents-md-spec.md
Due: none

fix(content): restore agent-skills.md to the MCP index
  src/content/concepts/agent-skills.md
Due: none

feat(seo): add HowTo JSON-LD to procedural practice pages
  docs/reports/GEO-AUDIT-REPORT.md
  specs/breadcrumbs/spec.md
  specs/howto-schema/spec.md
  specs/practices-page/spec.md
  specs/structured-data/spec.md
  src/components/StructuredData.astro
  src/content/config.ts
  src/content/practices/adr-authoring.md
  src/content/practices/adversarial-code-review.md
  src/content/practices/adversarial-requirement-review.md
  src/content/practices/agents-md-spec.md
  src/content/practices/constitutional-review-implementation.md
  src/content/practices/context-mapping.md
  src/content/practices/context-offloading.md
  src/content/practices/feature-assembly.md
  src/content/practices/micro-commits.md
  src/content/practices/pbi-authoring.md
  src/content/practices/product-vision-authoring.md
  src/content/practices/workflow-as-code.md
  src/pages/practices/[...slug].astro
Due: biome-check, astro-check

refactor(seo): remove dead branches in StructuredData.astro
  src/components/StructuredData.astro
Due: biome-check, astro-check

feat(seo): add mainEntityOfPage, inLanguage, articleSection to TechArticle
  specs/article-schema-fields/spec.md
  specs/breadcrumbs/spec.md
  specs/howto-schema/spec.md
  specs/structured-data/spec.md
  src/components/StructuredData.astro
  src/pages/concepts/[...slug].astro
  src/pages/patterns/[...slug].astro
  src/pages/practices/[...slug].astro
  src/pages/recipes/[id].astro
Due: biome-check, astro-check

fix(content): restore relatedIds on event-modeling, repair link symmetry
  src/content/concepts/behavior-driven-development.md
  src/content/concepts/event-modeling.md
  src/content/concepts/spec-driven-development.md
  src/content/patterns/the-spec.md
Due: none

docs(assessments): integrate Red Queen Gödel Machine paper findings
  .agents/skills/assess/SKILL.md
  .claude/commands/assess.md
  docs/assessments/2026-06-30-red-queen-godel-machine.md
  docs/assessments/ledger.jsonl
  docs/assessments/lessons.md
  package.json
  src/content/concepts/learning-loop.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/red-queen-godel-machine.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/agent-optimization-loop.md
  src/content/patterns/context-gates.md
  src/pages/resources/further-reading.astro
Due: biome-check, astro-check

chore(curator): add 2026-06-22 GSC triage report
  reports/curator/2026-06-22.md
Due: none

docs(reports): add 2026-07-05 project review, agent-UX-first pivot
  docs/reports/2026-07-05-fable-review.md
Due: none

docs(specs): reconcile markdown-variants spec with shipped code
  specs/markdown-variants/spec.md
Due: none

docs(content): unify spec doctrine on positive constraints (AL-81)
  src/content/patterns/the-spec.md
  src/content/practices/living-specs.md
Due: none

feat(skills): add reduction pass + code-in-specs rule to /spec (AL-82)
  .claude/commands/spec.md
  .claude/skills/spec.md
  src/content/recipes/spec-engineer.md
Due: none

docs(assessments): assess persona-prompting evidence pair (AL-85)
  docs/assessments/2026-07-05-persona-prompting-evidence.md
  docs/assessments/ledger.jsonl
  docs/assessments/lessons.md
Due: none

chore(curator): keep GSC-derived reports local, not committed
  .claude/skills/curator.md
  .gitignore
  AGENTS.md
  docs/adrs/0002-curator-reports-are-local-artifacts.md
  reports/curator/2026-05-28.md
  reports/curator/2026-06-11.md
  reports/curator/2026-06-22.md
  specs/content-curator/spec.md
Due: none

fix(getting-started): repair links, dedupe diagram, add spec (AL-91)
  specs/getting-started/spec.md
  src/pages/getting-started.md
Due: none

docs(adrs): draft canonical skill system decision (AL-86)
  docs/adrs/0003-canonical-skill-system.md
Due: none

docs(specs): respec AL-28 negotiation as edge function (verified live)
  specs/markdown-variants/spec.md
Due: none

feat(markdown-variants): serve Accept-negotiated markdown via edge function (AL-28)
  netlify.toml
  netlify/edge-functions/markdown-negotiation.ts
  src/lib/__tests__/markdown-negotiation.test.ts
  src/lib/markdown-negotiation.ts
Due: biome-check, astro-check

feat(robots): declare Content Signals — ai-train/search/ai-input all yes (AL-94)
  public/robots.txt
  specs/robots-txt/spec.md
Due: none

feat(discovery): add Link headers (RFC 8288) + /.well-known/api-catalog (AL-93)
  netlify.toml
  public/.well-known/api-catalog
Due: none

fix(discovery): redirect /skills and /skill guesses to agent-skills article
  netlify.toml
Due: none

refactor(skills): consolidate role skills to task-named homes (AL-87)
  .agents/skills/curator/SKILL.md
  .agents/skills/spec/SKILL.md
  .agents/workflows/assess-content.md
  .claude/commands/assemble.md
  .claude/commands/assess.md
  .claude/commands/critic.md
  .claude/commands/dev.md
  .claude/commands/lead.md
  .claude/commands/spec.md
  .claude/skills/assess/SKILL.md
  .claude/skills/critic/SKILL.md
  .claude/skills/curator/SKILL.md
  .claude/skills/dev/SKILL.md
  .claude/skills/lead/SKILL.md
  .claude/skills/spec/SKILL.md
  docs/adrs/0003-canonical-skill-system.md
  specs/content-curator/spec.md
  src/content/recipes/spec-engineer.md
Due: none

chore(skills): drop Co-Authored-By trailer from ship
  .agents/skills/ship/SKILL.md
  .agents/workflows/ship.md
  .claude/commands/ship.md
Due: none

refactor(skills): migrate remaining commands and retire legacy trees (AL-88)
  .agents/skills/assemble/SKILL.md
  .agents/skills/geo-audit/SKILL.md
  .agents/skills/next-task/SKILL.md
  .agents/skills/prep-for-launch/SKILL.md
  .agents/skills/ship/SKILL.md
  .claude/commands/geo-audit.md
  .claude/commands/ship.md
  .claude/skills/assemble/SKILL.md
  .claude/skills/geo-audit/SKILL.md
  .claude/skills/next-task/SKILL.md
  .claude/skills/prep-for-launch/SKILL.md
  .claude/skills/ship/SKILL.md
Due: none

Path conditions:
  biome-check: any of: src/**/*.{js,ts,astro,json,css}
  astro-check: any of: **/*.{astro,ts,tsx,js,jsx}
