Repository villetakanen/asdlc-io: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, astro-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "src/**/*.{js,ts,astro,json,css}"
      run: npx @biomejs/biome check --write {staged_files} && git add {staged_files}
    astro-check:
      glob: "**/*.{astro,ts,tsx,js,jsx}"
      run: pnpm check

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
    verify-ds-freeze:
      run: node scripts/verify-ds-freeze.cjs {1}

docs: added model routing pattern
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-gates.md
  src/content/patterns/model-routing.md
  src/content/patterns/the-spec.md
  src/content/practices/agent-personas.md
Due: none

feat: added adversarial code review
  src/content/concepts/context-gates.md
  src/content/concepts/guardrails.md
  src/content/patterns/adversarial-code-review.md
Due: none

feat: added micro-commits pattern as live
  package.json
  src/content/patterns/the-pbi.md
  src/content/practices/micro-commits.md
Due: none

fix: clarify our manifesto and related issues
  README.md
  docs/backlog/PBI-47-Clarify-Determinism-vs-Vibes.md
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-engineering.md
  src/pages/index.astro
Due: biome-check, astro-check

docs: analysis of state
  CONTENT-ANALYSIS-2025-12-30.md
Due: none

fix: cross linking polish
  package.json
  public/mermaid/spec-driven-development-fig-1.svg
  src/components/SpecCard.astro
  src/components/SpecHeader.astro
  src/content/concepts/4d-framework.md
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-engineering.md
  src/content/concepts/context-gates.md
  src/content/concepts/guardrails.md
  src/content/concepts/levels-of-autonomy.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/experience-modeling.md
  src/content/patterns/model-routing.md
  src/content/patterns/the-pbi.md
  src/content/patterns/the-spec.md
  src/content/practices/agent-personas.md
  src/content/practices/living-specs.md
  src/content/practices/micro-commits.md
  src/mcp/articles.json
  src/pages/index.astro
Due: biome-check, astro-check

fix: added feature assembly article
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/spec-driven-development-fig-1.svg
  src/content/patterns/the-spec.md
  src/content/practices/feature-assembly.md
Due: none

fix: seo data polish
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/guardrails.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/model-context-protocol.md
  src/content/concepts/spec-driven-development.md
  src/content/patterns/agent-constitution.md
  src/content/resources/legend.md
  src/mcp/articles.json
Due: biome-check

fix: removed maturity field as reduntant
  src/components/SpecHeader.astro
  src/content/concepts/4d-framework.md
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-engineering.md
  src/content/concepts/guardrails.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/model-context-protocol.md
  src/content/config.ts
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/agent-constitution.md
  src/content/patterns/agentic-double-diamond.md
  src/content/patterns/experience-modeling.md
  src/content/patterns/the-spec.md
  src/content/practices/feature-assembly.md
  src/content/resources/legend.md
Due: biome-check, astro-check

fix: cross links fixed
  src/content/concepts/context-engineering.md
  src/content/concepts/model-context-protocol.md
  src/content/patterns/the-pbi.md
  src/content/patterns/the-spec.md
  src/content/practices/agents-md-spec.md
Due: none

fix: small content updates, fixed nav
  docs/backlog/PBI-48-Field-Manual-MCP-Alignment.md
  package.json
  src/components/Header.astro
  src/content/concepts/context-engineering.md
  src/content/concepts/event-modeling.md
  src/content/concepts/spec-driven-development.md
  src/mcp/articles.json
Due: biome-check, astro-check

fix: pbi 48, and guide for concept pages
  AGENTS.md
  docs/specs/content/concept-article-spec.md
  src/mcp/articles.json
  src/pages/resources/compendium.astro
  src/pages/resources/index.astro
Due: biome-check, astro-check

fix: guardrails article polish, specheader duplicates fix
  src/components/SpecHeader.astro
  src/content/concepts/guardrails.md
Due: biome-check, astro-check

fix: updated project vision docs
  AGENTS.md
  README.md
  docs/vision.md
  src/content/concepts/agentic-sdlc.md
  src/mcp/articles.json
Due: biome-check

fix: front page fix
  docs/vision.md
  src/content/concepts/agentic-sdlc.md
  src/pages/index.astro
Due: biome-check, astro-check

docs: pbi to live state
  src/content/patterns/the-pbi.md
Due: none

fix: specs for articles added
  docs/specs/content/pattern-article-spec.md
  docs/specs/content/practice-article-spec.md
  src/content/patterns/the-pbi.md
  src/content/practices/pbi-authoring.md
  src/mcp/articles.json
Due: biome-check

fix: 4d framework is now up to the spec standards
  src/content/concepts/4d-framework.md
  src/mcp/articles.json
Due: biome-check

feat: getting started guide
  package.json
  public/mermaid/feature-assembly-fig-1.svg
  public/mermaid/spec-driven-development-fig-1.svg
  src/components/Header.astro
  src/pages/getting-started.astro
Due: biome-check, astro-check

fix: small polish to agents md guidance
  src/content/practices/agents-md-spec.md
Due: none

fix: prebuild
  src/mcp/articles.json
Due: biome-check

docs: add CLAUDE.md symlink and tool-specific considerations to agents-md spec
  CLAUDE.md
  package.json
  src/content/practices/agents-md-spec.md
Due: none

fix: more info on agents.md
  src/content/practices/agents-md-spec.md
Due: none

fix: added Cherny's framework from a youtube video
  src/content/concepts/spec-driven-development.md
  src/content/concepts/vibe-coding.md
  src/mcp/articles.json
  src/pages/resources/index.astro
  src/pages/resources/industry-alignment.astro
Due: biome-check, astro-check

fix: product thinking article
  src/content/concepts/product-thinking.md
  src/mcp/articles.json
  src/pages/resources/industry-alignment.astro
Due: biome-check, astro-check

fix: prp concept added from winding
  src/content/concepts/product-requirement-prompt.md
  src/content/concepts/spec-driven-development.md
  src/content/patterns/the-spec.md
  src/mcp/articles.json
  src/pages/resources/industry-alignment.astro
Due: biome-check, astro-check

docs: added product vision doc
  package.json
  src/content/patterns/product-vision.md
  src/content/practices/product-vision-authoring.md
Due: none

fix: inmported lessons from Carlos Lassala's blog post
  src/content/concepts/4d-framework.md
  src/content/concepts/agentic-sdlc.md
  src/content/concepts/context-gates.md
  src/content/concepts/guardrails.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/product-requirement-prompt.md
  src/content/concepts/vibe-coding.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/agent-constitution.md
  src/content/patterns/constitutional-review.md
  src/content/patterns/context-gates.md
  src/content/patterns/model-routing.md
  src/content/patterns/the-pbi.md
  src/content/practices/constitutional-review-implementation.md
  src/content/practices/feature-assembly.md
  src/content/practices/micro-commits.md
  src/mcp/articles.json
Due: biome-check

docs: article references spec added
  AGENTS.md
  plans/article-references/spec.md
Due: none

docs: backlog updated for apa style refs
  docs/backlog/PBI-49-Reference-Schema.md
  docs/backlog/PBI-50-ArticleReferences-Component.md
  docs/backlog/PBI-51-ArticleReferences-Layout-Integration.md
  docs/backlog/PBI-52-MCP-References-Response.md
  docs/backlog/PBI-53-Migrate-Articles-References.md
Due: none

feat: updated the content schemas for apa style refs
  docs/backlog/PBI-49-Reference-Schema.md
  src/content/config.ts
Due: biome-check, astro-check

feat: added the article-references component
  docs/backlog/PBI-50-ArticleReferences-Component.md
  docs/backlog/PBI-51-ArticleReferences-Layout-Integration.md
  src/components/ArticleReferences.astro
  src/pages/concepts/[...slug].astro
  src/pages/patterns/[...slug].astro
  src/pages/practices/[...slug].astro
Due: biome-check, astro-check

fix: added the ds component for article references
  docs/backlog/PBI-50-ArticleReferences-Component.md
  src/pages/resources/design-system.astro
Due: biome-check, astro-check

feat: mcp supports external references
  docs/backlog/PBI-52-MCP-References-Response.md
  package.json
  pnpm-lock.yaml
  scripts/generate-mcp-index.mjs
  src/mcp/articles.json
  src/mcp/content.ts
  src/mcp/tools.ts
  tests/mcp/server.test.ts
Due: biome-check, astro-check

fix: updated citations to the new system
  docs/backlog/PBI-53-Migrate-Articles-References.md
  src/content/concepts/4d-framework.md
  src/content/concepts/context-engineering.md
  src/content/concepts/event-modeling.md
  src/content/concepts/guardrails.md
  src/content/concepts/product-requirement-prompt.md
  src/content/concepts/product-thinking.md
  src/content/concepts/vibe-coding.md
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/constitutional-review.md
  src/content/patterns/context-gates.md
  src/content/patterns/model-routing.md
  src/content/patterns/product-vision.md
  src/content/patterns/the-pbi.md
  src/content/patterns/the-spec.md
  src/content/practices/constitutional-review-implementation.md
  src/content/practices/feature-assembly.md
  src/content/practices/living-specs.md
  src/content/practices/micro-commits.md
  src/content/practices/product-vision-authoring.md
  src/mcp/articles.json
Due: biome-check

fix: context engineering to live
  docs/specs/content/concept-article-spec.md
  docs/specs/content/pattern-article-spec.md
  docs/specs/content/practice-article-spec.md
  src/content/concepts/context-engineering.md
Due: none

chore: release
  package.json
Due: none

fix: added high priority fixes from Fowler's comments, anthropic research
  package.json
  public/mermaid/feature-assembly-fig-1.svg
  src/content/concepts/4d-framework.md
  src/content/concepts/learning-loop.md
  src/content/concepts/spec-driven-development.md
  src/content/patterns/the-spec.md
  src/mcp/articles.json
Due: biome-check

fix: more ideas from Fowler/Anthropic materials incorporated.
  src/content/concepts/context-engineering.md
  src/content/concepts/levels-of-autonomy.md
  src/content/concepts/vibe-coding.md
  src/mcp/articles.json
Due: biome-check

fix: claudio lassala's name corrected to references
  package.json
  src/content/patterns/adversarial-code-review.md
  src/content/patterns/constitutional-review.md
Due: none
